body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#result {
    width: 260px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
}
button {
    width: 60px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #eee;
}